.order-items-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.order-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.order-items-table th, .order-items-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    word-wrap: break-word;
}

.order-items-table th {
    background-color: #f4f4f4;
}
