.home-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.home-container .menu {
    width: 250px;
}

.home-content {
    flex-grow: 1;
    padding-left: 20px;
}

.home-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.home-cards .card {
    width: calc(33.33% - 20px);
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .dashboard-cards .card {
        width: 100%;
    }
}
