/* Container principal da Home */
.home-container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    flex-wrap: wrap;
}

.home-container .menu {
    width: 250px;
}

.home-content {
    flex-grow: 1;
    padding-left: 20px;
}

/* Boas-vindas */
.welcome-message {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

/* Estilização dos cards */
.home-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
}

.home-cards .card {
    flex: 1 1 calc(33.33% - 20px);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Links dentro dos cards */
.home-cards a {
    text-decoration: none; /* Remove o sublinhado */
    color: #a0312b; /* Cor padrão do texto */
    font-weight: bold; /* Deixa o texto mais destacado */
    transition: color 0.3s ease; /* Animação de mudança de cor */
    font-size: 1.1rem;
}

.home-cards a:hover {
    color: #d06156;
}

/* Texto dentro dos cards */
.home-cards .card h3 {
    font-size: 1.5rem;
    color: inherit; /* Herda a cor do link */
}

/* Card desabilitado */
.card-disabled {
    pointer-events: none;
    opacity: 0.6;
}

/* Responsividade */
@media (max-width: 1024px) {
    .home-cards .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .home-cards .card {
        flex: 1 1 calc(100% - 20px);
    }
}
